@page "/loadexcelinv"
@using Microsoft.JSInterop
@using Infragistics.Documents.Excel
@namespace KBO.InvenBlazor
<h3>LoadExcelInv</h3>
Load Current Inventory
<LoadExcelFile WorkBookLoadComplete="HandleWorkbookLoaded" />

First Cell: @cellValue

@code {
    private string cellValue = "";
    private async Task HandleWorkbookLoaded(string value)
    {
        cellValue = value;
    }

}
