@page "/loadexcelinv"
@using Microsoft.JSInterop
@using Infragistics.Documents.Excel
@namespace KBO.InvenBlazor

<h3>LoadExcelInv</h3>
Load Current Inventory
<LoadExcelFile WorkBookLoadComplete="HandleWorkbookLoaded" />

@code {
    private async Task HandleWorkbookLoaded(string value)
    {

    }

}
